body{
width: 1020px; /* how wide to make your web page */
background-color: #FFF;
margin: 0 auto;
padding: 0;
font:12px/16px Verdana, sans-serif; /* default font */
}
/*table
{
border-collapse:collapse;
}*/
.top
{
width: 1000px;
padding: 3px;
/*font-family:Alex Brush;*/
font-family: FFF Tusj;
}
h1
{
font-size: 50px;
color: rgb(10,116,143);
opacity:60;
}
.right
{
top:10px;
background-color:#eeeeee;
height:500px;
width:500px;
}
.center
{
margin:auto;
width:60%;
}
.account
{
text-align:left;
position: absolute;
top:90px;
font-family:kaushan script;
font-size:28px;
color:#CC0066;
background-color: #eeeeee;
border-radius:5px;
width: 950px;
height: 36px;
}
.p1
{
position: absolute;
top:130px;
font-family:Verdana, sans-serif;
font-size: 20px;
background-color: #C8DDE1;
height:500px;
width:950px;
}
.logout
{
    position: absolute;
    left: 850px;
    top: 0px;
    font-size: 25px;
    font-family: Verdana, sans-serif;
}

div.login
{
    margin-top:10px;
    padding: 10px;
    font-family:kaushan script;
    font-size:25px;
    color:#40E0D0; 
    background-color: #eeeeee;
    left:100px;
    width:330px;
    height: 500px;
    border-radius:5px;
    text-align: center;
}
.title
{
    padding: 5px;
    font-size: 25px;
    color: #40E0D0;
}
div.signup
{
    margin-top:10px;
    padding: 10px;
    font-family:kaushan script;
    font-size:25px;
    color:#CC0066; 
    background-color: #eeeeee;
    left:10px;
    width:330px;
    height: 500px ;
    border-radius:5px;
    text-align: center;
}
thead
{
   text-align: center;
   font-family: Menlo Regular; /*League Gothic;*/
   font-size: 28px;
   height:40px;
   color: #8B008B;
   border-radius:5px;
   background-color: #F08080;
}

.p2
{
    text-align: center;
    font-family: sansation;
    font-size: 40px;
    color: #00FFFF;
}
.p3
{
    text-align: center;
    font-family: sansation;
    font-size: 40px;
    color: #00FFFF;
}